# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Django
db.sqlite3

# Javascript (Node.js)
node_modules/

# Static build artifacts
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
