<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoxForge: Where Voices are shaped not silenced</title>
</head>
<body>
    <header>
        <div class="brand">
            <h1>TaskEnd</h1>
            <p>An app for self improvement.</p>
        </div>
    </header>
    <main>
        <section class="purpose">
            <p>TaskEnd is built for Self improvement.</p>
        <p>You can improve yourself if you have tungsten mentality and courage to never ever give up.</p>
        </section>
        <section class="cta">
        <button class="btn-primary" type="button"onclick="window.location.href='{% url 'signup' %}'">Count me in</button>
            <button class="btn-secondary" type="button" onclick="window.close()">Nah I'm good</button>
        </section>
    </main>
    <footer>
        <div class="credits">
            <p>Created by Alexei Petersky, All Rights Reserved</p>
        </div> 
    </footer>
</body>
</html>