{% load socialaccount %}
<form action="{% url 'login' %}" method="post">

    {% csrf_token %}

    <h1 class="text-primary">Login</h1>
    <p>Welcome back!</p>

    <a href="{% provider_login_url 'google' %}">
        Continue with Google
    </a>

    <label for="username">Username</label><br>
    <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
        required
    >

    <br><br>

    <label for="password">Password</label><br>
    <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        minlength="8"
        required
    >

    <br><br>

    <button type="submit">
        Login
    </button>

    <a href="{% url 'password_reset' %}">
        Forget Password
    </a>

</form>