<p>Hello {{ user.get_username }},</p>

<p>
    You're receiving this email because you requested a password reset
    for your TaskEnd account.
</p>

<p>Click the button below to choose a new password:</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Reset your password
    </a>
</p>

<p>
    If you didn't request a password reset, you can safely ignore this email.
    Your account will remain secure.
</p>

<p>
    Regards,<br>
    TaskEnd Team
</p>