<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskEnd - Tasks</title>
</head>
<body>

    <header>
        <h1>TaskEnd</h1>
        <p>Track your tasks. Complete your goals.</p>
    </header>
        <a href="{% url 'logout' %}">
            <button type="button">
                Logout
            </button>
        </a>
    <hr>

    <main>
        <!-- Create Task -->
        <section>
            <h2>Create Task</h2>

            <form method="POST">
                {% csrf_token %}

                <input
                    type="text"
                    name="task_title"
                    placeholder="Enter a new task"
                    required
                >

                <button type="submit">
                    Create
                </button>
            </form>
        </section>

        <hr>

        <!-- Task List -->
        <section>
            <h2>Task List</h2>

            {% if tasks %}
                <ul>

                    {% for task in tasks %}
                    <li>

                        {% if task.completed %}
                            <s>{{ task.title }}</s>
                        {% else %}
                            {{ task.title }}
                        {% endif %}

                        {% if not task.completed %}
                            <a href="{% url 'complete_task' task.id %}"></a>
                                <button type="button">Complete</button>
                            </a>
                        {% endif %}
                        <a href="{% url 'delete_task' task.id %}">
                            <button type="button">Delete</button>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            {% else %}
                <p>No tasks yet. Create your first task.</p>
            {% endif %}

        </section>

    </main>

    <hr>

    <footer>
        <p>TaskEnd © 2026</p>
    </footer>

</body>
</html>